.private-office-profile-edit-button {
    padding: 12px;
    border: 1px;
    cursor: pointer;
    background: url('../../../images/private-office-pencil.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;
}